extends layout

block content
    h1= title
    div#edit(style='width:20%;float:right;')
    div(style='width:70%;')
        table
            tr
                td
                    p Entrez l'arrondissement SVP.
                    table
                        thead
                            tr
                                th
                                    p Arrondissement
                                th
                        tbody
                            tr
                                td
                                    input#arrond(type="text", placeholder="arrondissement")
                                td
                                    button#btnSubmit(type="submit", onclick="sendParam()") submit
                                    
                    table
                        tbody
                            td
                                label(for='ddetb') nom d'installation (choisissez 1)

                                select#ddetb(onchange="sendArrond()")
                                    each c in dd
                                        option(value="#{c}") #{c}
        div#ctable
    